In [2]:
import pandas as pd
import numpy as np

#Metodo che taglia la parte errata da ogni stringa
def sub(DataFrame):
    lista = [i[0:36] for i in DataFrame]
    return lista

df = pd.read_csv("../../Dataset/Decisions.csv")

#Tolgo la parte errata dalle stringhe della seconda colonna
dg = df.iloc[:, 1]
lista1 = sub(dg)
    
#Appendo le nuove colonne al DataFrame
lista1 = pd.DataFrame(lista1)
lista1.columns = ["temp1"]
df = df.join(lista1)
    
#Rimuovo la vecchia colonna e rinomino quella nuova
df = df.drop("Session ID", axis = 1)
df = df.rename(columns = { "temp1" : "Session ID"})

df = df.iloc[:, [7, 1, 2, 5]]
df

,Session ID,Round,Worker Agent ID,The Backlog Queue
0,e7e52776-2750-4cde-a5da-093ccb8feaf9,1,1,1;2;
1,e7e52776-2750-4cde-a5da-093ccb8feaf9,1,6,3;4;
2,e7e52776-2750-4cde-a5da-093ccb8feaf9,1,3,5;6;
3,e7e52776-2750-4cde-a5da-093ccb8feaf9,1,5,7;8;
4,e7e52776-2750-4cde-a5da-093ccb8feaf9,1,8,9;10;
...,...,...,...,...
495528,c1888e82-4f53-4737-a934-ab8420c4c7e8,5,6,4;5;
495529,c1888e82-4f53-4737-a934-ab8420c4c7e8,5,7,1;28;17;
495530,c1888e82-4f53-4737-a934-ab8420c4c7e8,5,8,14;25;24;
495531,c1888e82-4f53-4737-a934-ab8420c4c7e8,5,9,10;15;21;
495532,c1888e82-4f53-4737-a934-ab8420c4c7e8,5,10,23;9;19;

Le sessioni di gioco prese in considerazione sono scelte tra le game session con score più alto tra quelle che self reportano la strategia analizzata.<br />
Per ciascuna analisi, si è scelto di confrontare l'allocazione ritenuta ideale per quella strategia, l'allocazione effettuata dal modello e l'allocazione delle task del giocatore.<br />
La bontà di ogni allocazione è valutata tramite score percentuale, calcolato come value delle task portate a termine con successo diviso value totale delle task.<br />


### Load Balance Based Allocation ###

_bfce2734-f71a-4ce9-8754-663ce6b25b64_  e  _d388aeed-67b9-45a3-bcb1-b403e9dd7820_ 


#### Primo caso ####

La strategia applicata, in questo caso, corrisponde a distribuire equamente le task tra i WA. Quindi, ognuno dei 10 WA avrà 3 task da svolgere (il WA 1 proverà a svolgere le task "1, 2 e 3", il WA 2 proverà a svolgere le task "4, 5 e 6", ecc.).<br />
Si osservi inizialmente l'allocazione effettuata nel secondo round, cioè il primo round con uno score di regressione accettabile e senza un bias troppo grande dovuto al propagarsi dell'eventuale errore round dopo round.<br />
Lo score ottenuto in questa maniera è di 40/89.<br />
Il modello, invece, assegna all'agente 1 la Task 23, all'agente 2 le task 20 e  22, all'agente 3 la task 26, all'agente 4 le task 2, 11 e 30, all'agente 5 le task 9, 17, 18, 21, 25 e 29, all'agente 6 le task 5, 6, 8, 15, 16, 19 e 24, all'agente 8 le task 4, 7, 10 e 14, all'agente 9 le task 1, 27 e 28 e all'agente 10 le task 3, 12 e 13.<br />
Lo score è di 53/89, un risultato molto valido già al secondo round. Le poche task non portate a termine sono quasi esclusivamente dovute all'esaurimento della stamina dei WA.<br />

In [3]:
tmp = df[df["Session ID"] == "bfce2734-f71a-4ce9-8754-663ce6b25b64"]
tmp = tmp[tmp["Round"] == 2]
tmp

,Session ID,Round,Worker Agent ID,The Backlog Queue
174911,bfce2734-f71a-4ce9-8754-663ce6b25b64,2,1,NaN
174912,bfce2734-f71a-4ce9-8754-663ce6b25b64,2,2,NaN
174913,bfce2734-f71a-4ce9-8754-663ce6b25b64,2,3,22;26;
174916,bfce2734-f71a-4ce9-8754-663ce6b25b64,2,4,17;16;29;2;11;
174918,bfce2734-f71a-4ce9-8754-663ce6b25b64,2,5,18;24;21;19;
174920,bfce2734-f71a-4ce9-8754-663ce6b25b64,2,6,9;5;6;8;
174923,bfce2734-f71a-4ce9-8754-663ce6b25b64,2,7,6;28;25;15;
174926,bfce2734-f71a-4ce9-8754-663ce6b25b64,2,8,25;14;1;4;
174930,bfce2734-f71a-4ce9-8754-663ce6b25b64,2,9,14;7;23;10;
174934,bfce2734-f71a-4ce9-8754-663ce6b25b64,2,10,3;27;30;13;20;12;

Proviamo ora a calcolare lo score con i coefficienti al round 9, cioè il round dove lo score di regressione ottiene valori più alti.<br />
Di nuovo, l'allocazione bilanciata otterrà uno score di 40/89 (riallocando alla stessa maniera le tasks).
Il modello assegna all'agente 1 le task 4, 8, 14, 15, 22, 25, 27 e 29, all'agente 2 le task 1, 20, 21, 24 e 26, all'agente 3 le task 3, 11, 16 e 23, all'agente 4 le task 6 e 9, all'agente 5 le task 13 e 30, all'agente 8 le task 2, 7, 17 e 18, all'agente 9 le task 5 e 10 e all'agente 10 le task 12, 19 e 28.<br />
In questo caso, lo score è di 31/89.<br />

In [4]:
tmp = df[df["Session ID"] == "bfce2734-f71a-4ce9-8754-663ce6b25b64"]
tmp = tmp[tmp["Round"] == 9]
tmp

,Session ID,Round,Worker Agent ID,The Backlog Queue
175431,bfce2734-f71a-4ce9-8754-663ce6b25b64,9,1,NaN
175433,bfce2734-f71a-4ce9-8754-663ce6b25b64,9,2,NaN
175435,bfce2734-f71a-4ce9-8754-663ce6b25b64,9,3,20;22;26;
175438,bfce2734-f71a-4ce9-8754-663ce6b25b64,9,4,8;18;24;21;30;
175440,bfce2734-f71a-4ce9-8754-663ce6b25b64,9,5,19;11;5;6;11;
175445,bfce2734-f71a-4ce9-8754-663ce6b25b64,9,6,25;15;9;
175449,bfce2734-f71a-4ce9-8754-663ce6b25b64,9,7,9;4;28;17;
175453,bfce2734-f71a-4ce9-8754-663ce6b25b64,9,8,10;14;1;29;
175459,bfce2734-f71a-4ce9-8754-663ce6b25b64,9,9,10;13;12;7;23;16;13;
175463,bfce2734-f71a-4ce9-8754-663ce6b25b64,9,10,3;27;19;2;12;

#### Secondo caso analizzato ####

La strategia, anche in questo caso, corrisponde a distribuire equamente le task tra i WA.<br />
Lo score rimane di 40/89.<br />
Il modello invece assegna all'agente 12 le task 20, 22 e 26, all'agente 14 le task 2, 11 e 30, all'agente 15 le task 12, 16 e 24, all'agente 16 le task 5, 6, 9, 10, 15, 17, 18, 19 e 29, all'agente 17 le task 8, 13 e 21, all'agente 18 le task 1 e 25, all'agente 19 le task 4, 7, 14, 23, 27 e 28 e all'agente 20 la task 3.<br />
Lo score in questo caso è di .<br />

In [5]:
tmp = df[df["Session ID"] == "d388aeed-67b9-45a3-bcb1-b403e9dd7820"]
tmp = tmp[tmp["Round"] == 2]
tmp

,Session ID,Round,Worker Agent ID,The Backlog Queue
375053,d388aeed-67b9-45a3-bcb1-b403e9dd7820,2,11,4;28;15;
375058,d388aeed-67b9-45a3-bcb1-b403e9dd7820,2,12,18;2;11;20;
375061,d388aeed-67b9-45a3-bcb1-b403e9dd7820,2,13,8;29;30;22;26;
375063,d388aeed-67b9-45a3-bcb1-b403e9dd7820,2,14,6;24;
375065,d388aeed-67b9-45a3-bcb1-b403e9dd7820,2,15,5;21;
375067,d388aeed-67b9-45a3-bcb1-b403e9dd7820,2,16,5;17;9;17;
375068,d388aeed-67b9-45a3-bcb1-b403e9dd7820,2,17,14;1;19;
375069,d388aeed-67b9-45a3-bcb1-b403e9dd7820,2,18,10;25;16;
375070,d388aeed-67b9-45a3-bcb1-b403e9dd7820,2,19,27;7;13;
375071,d388aeed-67b9-45a3-bcb1-b403e9dd7820,2,20,3;23;12;

Provo a calcolare lo score con i coefficienti al round 9 ed ottengo l'allocazione all'agente 11 le task 7, 14, 15, 17, 21 e 28, all'agente 12 le task 20, 22 e 26, all'agente 14 le task 2, 11 e 12, all'agente 16 la task 9, all'agente 17 le task 13 e 25, all'agente 18 la task 6, all'agente 19 le task 8, 23, 27 e 29 e all'agente 20 le task 1, 3, 4, 5, 10, 16, 18, 19, 24 e 30.<br />
.<br />
Quindi, uno score di .<br />

In [6]:
tmp = df[df["Session ID"] == "d388aeed-67b9-45a3-bcb1-b403e9dd7820"]
tmp = tmp[tmp["Round"] == 9]
tmp

,Session ID,Round,Worker Agent ID,The Backlog Queue
375288,d388aeed-67b9-45a3-bcb1-b403e9dd7820,9,11,23;28;25;
375290,d388aeed-67b9-45a3-bcb1-b403e9dd7820,9,12,29;2;20;12;22;26;
375292,d388aeed-67b9-45a3-bcb1-b403e9dd7820,9,13,16;11;30;
375295,d388aeed-67b9-45a3-bcb1-b403e9dd7820,9,14,5;6;18;
375296,d388aeed-67b9-45a3-bcb1-b403e9dd7820,9,15,16;8;24;
375297,d388aeed-67b9-45a3-bcb1-b403e9dd7820,9,16,1;4;17;
375298,d388aeed-67b9-45a3-bcb1-b403e9dd7820,9,17,10;14;19;
375299,d388aeed-67b9-45a3-bcb1-b403e9dd7820,9,18,7;23;21;
375300,d388aeed-67b9-45a3-bcb1-b403e9dd7820,9,19,27;9;
375301,d388aeed-67b9-45a3-bcb1-b403e9dd7820,9,20,3;15;13;

### Random Based Allocation###

_a5690cea-12d8-43e2-9051-8384707f5419_  e  _0bdcbc28-40cc-4b45-9c11-d34fd5df4a94_


#### Primo caso analizzato ####

la strategia, in questo caso, corrisponde ad una allocazione totalmente randomica delle task all'interno dell'Agile Manager Simulator. Per simulare questa allocazione uso un generatore di numeri random in un range 1 - 10 per ogni task (associo la task ad un WA definito).<br />
Assegno la task \quotes{16} al WA 1, le task \quotes{8, 12, 30} al WA 2, le task \quotes{2, 7, 13, 15, 27} al WA 3, le task \quotes{14, 17} al WA 4, le task \quotes{18, 23} al WA 5, le task \quotes{24, 28} al WA 6, le task \quotes{1, 3, 5, 19, 21, 25} al WA 7, le task \quotes{9, 22, 26} al WA 8, le task \quotes{4, 6, 11, 20} al WA 9 e la task \quotes{29} al WA 10.<br />
Lo score ottenuto è di 30/89.<br />
Confronto questo score con quello del modello al round 2. Il modello assegna all'agente 1 la task 23, all'agente 2 le task 20 e 22, all'agente 3 la task 26, all'agente 4 le task 2, 11 e 30, all'agente 5 le task 9, 17, 18, 21, 25 e 29, all'agente 6 le task 5, 6, 8, 15, 16, 19 e 24, all'agente 8 le task 4, 7, 10 e 14, all'agente 9 le task 1, 27 e 28 e all'agente 10 le task 3, 12, 13.<br />
Si osserva facilmente come questa allocazione sia identica all'allocazione della prima sessione di gioco nel caso Load Balance.
Lo score ottenuto è quindi di .<br />

In [7]:
tmp = df[df["Session ID"] == "a5690cea-12d8-43e2-9051-8384707f5419"]
tmp = tmp[tmp["Round"] == 2]
tmp

,Session ID,Round,Worker Agent ID,The Backlog Queue
45410,a5690cea-12d8-43e2-9051-8384707f5419,2,8,24;1;4;19;
45411,a5690cea-12d8-43e2-9051-8384707f5419,2,9,3;27;17;12;
45412,a5690cea-12d8-43e2-9051-8384707f5419,2,1,30;
45413,a5690cea-12d8-43e2-9051-8384707f5419,2,7,7;23;6;8;
45414,a5690cea-12d8-43e2-9051-8384707f5419,2,10,10;14;5;18;22;
45415,a5690cea-12d8-43e2-9051-8384707f5419,2,5,16;29;2;26;
45416,a5690cea-12d8-43e2-9051-8384707f5419,2,2,NaN
45417,a5690cea-12d8-43e2-9051-8384707f5419,2,4,15;9;11;
45418,a5690cea-12d8-43e2-9051-8384707f5419,2,3,13;20;
45419,a5690cea-12d8-43e2-9051-8384707f5419,2,6,28;25;24;21;

Al round 9, il modello alloca all'agente 1 le task 4, 8, 14, 15, 22, 25, 27 e 29, all'agente 2 le task 1, 20, 21, 24 e 26, all'agente 3 le task 3, 11, 16 e 23, all'agente 4 le task 6 e 9, all'agente 5 le task 13 e 30, all'agente 8 le task 2, 7, 17 e 18, all'agente 9 le task 5 e 10 e all'agente 10 le task 12, 19 e 28.<br />
Anche in questo caso è evidente la ripetizione delle allocazioni come nella prima sessione di gioco del caso Load Balance.<br />
Otteniamo, quindi, uno score di .<br />
Presupponendo la stessa allocazione di task in maniera randomica, possiamo confrontarlo con uno score di 30/89.<br />

In [8]:
tmp = df[df["Session ID"] == "a5690cea-12d8-43e2-9051-8384707f5419"]
tmp = tmp[tmp["Round"] == 9]
tmp

,Session ID,Round,Worker Agent ID,The Backlog Queue
45480,a5690cea-12d8-43e2-9051-8384707f5419,9,8,15;13;1;8;2;
45481,a5690cea-12d8-43e2-9051-8384707f5419,9,9,26;7;4;18;11;
45482,a5690cea-12d8-43e2-9051-8384707f5419,9,1,NaN
45483,a5690cea-12d8-43e2-9051-8384707f5419,9,7,3;28;24;30;
45484,a5690cea-12d8-43e2-9051-8384707f5419,9,10,27;25;21;13;26;
45485,a5690cea-12d8-43e2-9051-8384707f5419,9,5,23;15;19;20;22;
45486,a5690cea-12d8-43e2-9051-8384707f5419,9,2,NaN
45487,a5690cea-12d8-43e2-9051-8384707f5419,9,4,10;9;17;12;
45488,a5690cea-12d8-43e2-9051-8384707f5419,9,3,18;22;6;
45489,a5690cea-12d8-43e2-9051-8384707f5419,9,6,30;14;5;16;29;

#### Secondo caso analizzato ####

Il modello assegna le task \quotes{1, 2, 3, 4, 7, 11, 13, 18, 20, 24, 26, 27, 30} al WA 13, le task \quotes{5, 10 , 17, 21} al WA 15,  le task \quotes{8, 12, 14, 15, 16, 19, 23, 25, 28} al WA 16 e le task \quotes{6, 9, 22, 29} al WA 17.<br />
Lo score calcolato con questa allocazione è pari a 19/89.<br />
Lo score ottenuto invece con l'allocazione random applicata nello stesso modo della sessione precedente risulta pari a 30/89.<br />

In [1]:
tmp = df[df["Session ID"] == "0bdcbc28-40cc-4b45-9c11-d34fd5df4a94"]
tmp = tmp[tmp["Round"] == 2]
tmp

NameError: name 'df' is not defined

Per quanto riguarda il round 9, l'assegnazione delle task ai WA si rivela ancora uguale.<br />
Avremo quindi uno score di 44/89, contro i 30/89 dell'assegnazione randomica.<br />

In [6]:
tmp = df[df["Session ID"] == "0bdcbc28-40cc-4b45-9c11-d34fd5df4a94"]
tmp = tmp[tmp["Round"] == 9]
tmp

,Session ID,Round,Worker Agent ID,The Backlog Queue
22027,0bdcbc28-40cc-4b45-9c11-d34fd5df4a94,9,11,NaN
22028,0bdcbc28-40cc-4b45-9c11-d34fd5df4a94,9,12,2;11;30;20;22;26;
22029,0bdcbc28-40cc-4b45-9c11-d34fd5df4a94,9,13,18;24;21;19;
22030,0bdcbc28-40cc-4b45-9c11-d34fd5df4a94,9,14,19;17;17;16;
22031,0bdcbc28-40cc-4b45-9c11-d34fd5df4a94,9,15,9;5;6;8;
22032,0bdcbc28-40cc-4b45-9c11-d34fd5df4a94,9,16,23;14;25;
22033,0bdcbc28-40cc-4b45-9c11-d34fd5df4a94,9,17,25;1;15;
22034,0bdcbc28-40cc-4b45-9c11-d34fd5df4a94,9,18,7;10;29;
22035,0bdcbc28-40cc-4b45-9c11-d34fd5df4a94,9,19,27;28;12;
22036,0bdcbc28-40cc-4b45-9c11-d34fd5df4a94,9,20,3;4;13;

### Reputation Based Allocation ###

_029f1214-7513-407e-b219-379c3587483f_ e _572487c5-e5f7-49e7-bb09-193a49e743ab_


#### Primo caso analizzato ####

La strategia, in questo caso, si basa sulla reputazione del WA a inizio round; più è alta questa reputation, più saranno difficili e numerose le task a lui assegnate. Per quanto riguarda il round 2, assegno le task con \quotes{Effort Required} più alto ai WA con la reputation più alta; in caso di ex-aequo, scelgo casualmente.<br />
Seguendo questa strategia, ho assegnato le task \quotes{2, 5, 11, 13, 20} al WA 1, le task \quotes{5, 12, 22} al WA 2, le task \quotes{8, 18, 24} al WA 3, le task \quotes{6, 15, 16} al WA 4, le task \quotes{3, 27} al WA 5, le task \quotes{1, 14, 28} al WA 6, le task \quotes{4, 17, 21} al WA 7, le task \quotes{7,23, 26} al WA 8, le task \quotes{9, 19, 29} al WA 9 e le task \quotes{10, 25, 30} al WA 10.<br />
Lo score ottenuto sarà di 35/89.<br />
Il modello invece assegna le task .<br />

In [7]:
tmp = df[df["Session ID"] == "029f1214-7513-407e-b219-379c3587483f"]
tmp = tmp[tmp["Round"] == 2]
tmp

,Session ID,Round,Worker Agent ID,The Backlog Queue
403511,029f1214-7513-407e-b219-379c3587483f,2,1,NaN
403512,029f1214-7513-407e-b219-379c3587483f,2,2,NaN
403513,029f1214-7513-407e-b219-379c3587483f,2,3,20;14;8;29;
403514,029f1214-7513-407e-b219-379c3587483f,2,4,2;
403515,029f1214-7513-407e-b219-379c3587483f,2,5,3;15;16;11;26;
403516,029f1214-7513-407e-b219-379c3587483f,2,6,10;28;17;
403517,029f1214-7513-407e-b219-379c3587483f,2,7,23;25;19;13;
403518,029f1214-7513-407e-b219-379c3587483f,2,8,13;1;5;21;20;
403519,029f1214-7513-407e-b219-379c3587483f,2,9,7;4;6;24;12;
403520,029f1214-7513-407e-b219-379c3587483f,2,10,27;9;18;30;22;

Calcoliamo ora gli score per il round 9: Il modello .<br />
Invece, assegnando le task seguendo la strategia basata sulle reputazioni, ho assegnato le task \quotes{22, 26} al WA 2, le task \quotes{13, 20} al WA 3, le task \quotes{11, 12, 30} al WA 4, le task \quotes{2, 19, 21} al WA 5, le task \quotes{5, 6, 8, 17} al WA 6, le task \quotes{9, 15, 16, 18} al WA 7, le task \quotes{1, 3, 4, 27} al WA 8, le task \quotes{23, 24, 25, 28} al WA 9 e le task \quotes{7, 10, 14, 29} al WA 10.<br />
Lo score ottenuto è di ben 71/89, di gran lunga superiore a qualsiasi altra scelta di allocazione.<br />

In [8]:
tmp = df[df["Session ID"] == "029f1214-7513-407e-b219-379c3587483f"]
tmp = tmp[tmp["Round"] == 9]
tmp

,Session ID,Round,Worker Agent ID,The Backlog Queue
403842,029f1214-7513-407e-b219-379c3587483f,9,1,NaN
403844,029f1214-7513-407e-b219-379c3587483f,9,2,NaN
403846,029f1214-7513-407e-b219-379c3587483f,9,3,NaN
403848,029f1214-7513-407e-b219-379c3587483f,9,4,5;6;18;21;
403850,029f1214-7513-407e-b219-379c3587483f,9,5,11;26;14;9;24;
403852,029f1214-7513-407e-b219-379c3587483f,9,6,10;15;8;2;26;
403854,029f1214-7513-407e-b219-379c3587483f,9,7,23;25;17;11;
403857,029f1214-7513-407e-b219-379c3587483f,9,8,27;28;19;30;22;
403859,029f1214-7513-407e-b219-379c3587483f,9,9,12;3;4;16;20;12;
403860,029f1214-7513-407e-b219-379c3587483f,9,10,13;20;7;1;29;13;

#### Secondo caso analizzato ####

Nel round 2, il modello alloca le task .<br />
L'allocazione secondo Reputation assegna le task .<br />
In questo modo otteniamo uno score di .<br />

In [10]:
tmp = df[df["Session ID"] == "572487c5-e5f7-49e7-bb09-193a49e743ab"]
tmp = tmp[tmp["Round"] == 2]
tmp

,Session ID,Round,Worker Agent ID,The Backlog Queue
460910,572487c5-e5f7-49e7-bb09-193a49e743ab,2,11,2;11;
460911,572487c5-e5f7-49e7-bb09-193a49e743ab,2,12,24;21;19;17;16;29;
460912,572487c5-e5f7-49e7-bb09-193a49e743ab,2,13,18;30;
460913,572487c5-e5f7-49e7-bb09-193a49e743ab,2,14,8;13;
460914,572487c5-e5f7-49e7-bb09-193a49e743ab,2,15,6;20;
460915,572487c5-e5f7-49e7-bb09-193a49e743ab,2,16,3;27;12;26;
460916,572487c5-e5f7-49e7-bb09-193a49e743ab,2,17,29;7;23;22;
460917,572487c5-e5f7-49e7-bb09-193a49e743ab,2,18,10;14;1;
460918,572487c5-e5f7-49e7-bb09-193a49e743ab,2,19,11;4;28;25;
460919,572487c5-e5f7-49e7-bb09-193a49e743ab,2,20,30;15;9;5;

Al round 9 invece, il modello applica .
Assegnando le task in maniera reputation based, cioè le task \quotes{22, 26} al WA 12, le task \quotes{7, 10, 14, 23} al WA 13, le task \quotes{5, 6, 25, 28} al WA 14, le task \quotes{8, 9, 15, 16} al WA 15, le task \quotes{1, 3, 4, 27} al WA 16, le task \quotes{13, 30} al WA 17, le task \quotes{11, 12, 30} al WA 18, le task \quotes{2, 24,2 9} al WA 19 e le task \quotes{17, 18, 19, 21} al WA 20.
Si ottiene così uno score di 24/89.

In [11]:
tmp = df[df["Session ID"] == "572487c5-e5f7-49e7-bb09-193a49e743ab"]
tmp = tmp[tmp["Round"] == 9]
tmp

,Session ID,Round,Worker Agent ID,The Backlog Queue
460980,572487c5-e5f7-49e7-bb09-193a49e743ab,9,11,23;10;14;1;4;
460981,572487c5-e5f7-49e7-bb09-193a49e743ab,9,12,5;6;8;18;24;
460982,572487c5-e5f7-49e7-bb09-193a49e743ab,9,13,2;11;30;13;20;
460983,572487c5-e5f7-49e7-bb09-193a49e743ab,9,14,12;22;26;
460984,572487c5-e5f7-49e7-bb09-193a49e743ab,9,15,2;11;30;13;20;
460985,572487c5-e5f7-49e7-bb09-193a49e743ab,9,16,3;27;7;23;10;
460986,572487c5-e5f7-49e7-bb09-193a49e743ab,9,17,12;26;14;1;4;28;
460987,572487c5-e5f7-49e7-bb09-193a49e743ab,9,18,25;15;9;5;6;
460988,572487c5-e5f7-49e7-bb09-193a49e743ab,9,19,14;1;8;18;24;21;
460989,572487c5-e5f7-49e7-bb09-193a49e743ab,9,20,9;5;19;17;16;29;

### Uniform Task Allocation ###

Sostanziamente, osservando le allocazioni fatte dai giocatori, questa strategia spesso e volentieri si sovrappone al classico _Load Balance_ quindi non effettuerò un'ulteriore analisi di score in quanto sarebbe ripetitiva.